.header__title {
  max-width: 730px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  color: black;
  z-index: 3;
}
